/* Created by Danni */
/* CSS Document */
* {
	box-sizing: border-box;
}
h2{
	color: #014463;
	font-size: 35px;
}

.btn {
  background-color: #014463;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

a {
	color: white;
}

a:hover {
	color: white;
	text-decoration: bold;
}
/*CSS For Header*/
#logo{
	padding-bottom: 10px;
	width: 50px;
	display: inline;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 160px;
}

#header{
	background-color: white;
}

li {
	display: inline;
}

/*CSS For Index Page/Main Menu*/
@media screen and (max-width: 2000px) {
  .column {
    width: 100%;
  }
}
.column {
	float:left;
	width: 50%;
	padding: 15px;
}

.row{
	content: '';
	display: table;
	clear: both;
}

#introIcon{
	width: 100%;
	padding-left: 10px;
}

.btnIntro {
  background-color: #014463;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  float: bottom;
}
/*CSS For Student Menu*/
#menuIcon{
	width: 100px;
	height: 90px;
}

/*CSS For Bus Timetable*/
table, th, td {
	border: 1px solid black;
}

div.title {
	font-size: 25px;
}

