{% extends 'base.html.twig' %}

{% block title %}Map{% endblock %}

{% block body %}
    <body>
    <div class='table-responsive' align="center">
        <img src="../images/CampusMap.png" class="text-center" alt="logo">
    </div>
    </body>
{% endblock %}